<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Buy with confidence and zero pressure.</h1>
        <p class="lead fw-normal">Kiril's car shop</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container px-4 py-5" id="featured-3">
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
           
            <h3 class="fs-2 text-body-emphasis">No haggle, no hassle</h3>
            <p>Our lowest price is always posted.</p>
            <a href="#" class="icon-link">
                View
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
           
            <h3 class="fs-2 text-body-emphasis">Cars like new</h3>
            <p>CarShop cars look and drive like new, but save you thousands.</p>
            <a href="#" class="icon-link">
                View
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            
            <h3 class="fs-2 text-body-emphasis">Forever? Yep.</h3>
            <p>That’s how long our Lifetime Engine Guarantee lasts.</p>
            <a href="#" class="icon-link">
                View cars
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary"></span></h2>
            <p class="lead mt-5 pt-5">
                Just bought a car... They did a great job scheduling and making everything sanitized. Everything was prepared when I got there and I could not believe how quick everything was processed.

               
            </p>

            <p><h5> John via Google</h5></p>
        </div>
        <div class="col-md-5">
            <img src="https://www.plowzandmowz.com/wp-content/uploads/2014/05/Smiling-Man.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"  preserveAspectRatio="xMidYMid slice" />
        </div>
    </div>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">We'll deliver it to your home</h1>
            <p class="col-md-8 fs-4">We arrange all the paperwork, registration and delivery. All you need to do is enjoy your new car.</p>
            <button class="btn btn-primary btn-lg" type="button">Buy</button>
        </div>
    </div>

</div>
