﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You are not registered</h2>
        <p>Sign up or login to have acces to more features </p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>