<a asp-controller="Cars" asp-action="Create"> Create Cars</a>
<a asp-controller="Brands" asp-action="Create"> Create Brands</a>
<a asp-controller="Models" asp-action="Create"> Create Models</a>
<a asp-controller="Origins" asp-action="Create"> Create Origins</a>
<a asp-controller="Colours" asp-action="Create"> Create Colours</a>