@using KirilsShop.Models.ViewModels;

@model LoginVM;

@{
    ViewData["Title"] = "Log in to your account";
}


<section class="">
    <div class="container">
        <div class="col-md-5 mx-auto text-center">
            <div class="h-100 p-5 my-5 bg-body-white ">
                <h2> Log in to your account for more options</h2>
            </div>
        </div>
    </div>
    </section>

    <section class="bg-custom-gray  my-5">
        <div class="container">
            <div class="col-md-9 mx-auto">
                <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="h-100 p-5 bg-body-white ">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control" id="floatingInput" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" id="floatingInput" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <label for="floatingInput">Password</label>


                        </div>
                        <div class="form-floating">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                            <a class="btn btn-outline-secondary" asp-controller="Cars" asp-action="Index">Cancel</a>
                        </div>

                    </div>
                </form>

            </div>
        </div>


    </section>

@* 
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@